# Data Science Tools and Ecosystem using H1 heading

This notebook shows some tool examples and the Ecosystem.

**Objetives**

* Popular Data Science Language
* Create a Jupiter Notebook
* Create ordered-unordered lists and tables
* Evaluate Expressions using Phyton (add, multiply and convert)
* Share Notebooks on GitHub

**Some popular Data Science languages are**
1. Phyton
2. R
3. Julia
4. SQL
5. Scala

**The most common libraries used in Data Science are:**

1. NumPy
2. Pandas
3. Matplolib

| **Data Science Tools** |
|------------------------|
| Jupiter notebook       |
| R Studio               |
| Apache Spark           |

### Here are some arithmetic examples made in Phyton

Phyton evaluating the expression, multiply and adding units

In [41]:
(20*5)+100

200

The expression down below will convert minutes to hours **1 hour equals 60 minutes**

In [49]:
600/60

10.0

## Author

Julio Abraham Castellanos Rosado